temp/color.c
.vscode/ipch/417b5fedf47eed3b/board.ipch
.vscode/ipch/417b5fedf47eed3b/mmap_address.bin
.vscode/ipch/e3e439e87aa490fe/main.ipch
.vscode/ipch/e3e439e87aa490fe/mmap_address.bin
.vscode/ipch/ff702bb7329c244a/color.ipch
.vscode/ipch/ff702bb7329c244a/mmap_address.bin
.vscode/ipch/fa289fb8f007cd29/display.ipch
.vscode/ipch/fa289fb8f007cd29/mmap_address.bin
.vscode/ipch/32a184c77d93349d/mmap_address.bin
.vscode/ipch/32a184c77d93349d/moves.ipch
.vscode/ipch/39e9aed17b6382e/mmap_address.bin
.vscode/ipch/4148e31b399eb0a5/mmap_address.bin
.vscode/ipch/5e1a1fc5809236b2/mmap_address.bin
.vscode/ipch/5e1a1fc5809236b2/moves.ipch
.vscode/ipch/bc986290640c32d6/input_methods.ipch
.vscode/ipch/bc986290640c32d6/mmap_address.bin
.vscode/c_cpp_properties.json
.vscode/ipch/27ab5f9f22aa4630/mmap_address.bin
.vscode/ipch/27ab5f9f22aa4630/scanf_.ipch
.vscode/ipch/364977834f95a33/mmap_address.bin
.vscode/ipch/d72d71c647039c02/mmap_address.bin
.vscode/ipch/401207e54f146652/mmap_address.bin
.vscode/ipch/364977834f95a33/unicode.ipch
.vscode/ipch/6df99e0c0e92c148/mmap_address.bin
.vscode/ipch/6df99e0c0e92c148/debug.ipch
.vscode/ipch/d72d71c647039c02/first.ipch
temp/a.out
