temp/color.c
.vscode/ipch/417b5fedf47eed3b/board.ipch
.vscode/ipch/417b5fedf47eed3b/mmap_address.bin
.vscode/ipch/e3e439e87aa490fe/main.ipch
.vscode/ipch/e3e439e87aa490fe/mmap_address.bin
.vscode/ipch/ff702bb7329c244a/color.ipch
.vscode/ipch/ff702bb7329c244a/mmap_address.bin
.vscode/ipch/fa289fb8f007cd29/display.ipch
.vscode/ipch/fa289fb8f007cd29/mmap_address.bin
